/* isso são os que adicionei .content na frente*/

#modal {
    position: fixed;
    top: 0;
    background-color: #0e0a14ef;
    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;
}

#modal.hide {
    display: none;
}

#modal .content {
    color: white;

    width: 420px;
}

#modal .content .header { /**/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

#modal .content .header a { /**/
    background-image: url('../assets/x.svg');
    width: 20px;
    height: 20px;

    display: flex;
    font-size: 0.01px;
}

#modal .content .header h1 { /**/
    color: white;
    font-size: 36px;
    line-height: 42px;
}

#modal .content form label { /**/
    font-size: 14px;
    line-height: 16px;

    display: block;
    margin-bottom: 8px;
}

#modal .content form .field { /**/
    display: flex;
}

#modal .content form input { /**/
    flex: 1;
    background-color: var(--bg-color);
    border: 0;
    border-radius: 8px 0px 0px 8px;
    padding: 16px 24px;
    font-size: 16px;
    color: #6c6c80;
    outline-style: none;
}

#modal .content form button { /**/
    width: 72px;
    height: 72px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 0px 8px 8px 0px;
    transition: background-color 400ms;
}

#modal .content form button:hover { /**/
    background-color: #2fb86e;
}

/* Modal Concluido cadastro */

#modal.point-created .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.point-created .content h1 {
    color: white;
    font-weight: bold;
    margin-top: 24px;
}